{% extends 'base.html' %}

{% block content %}


<div class="container pt-6">
            <div class="d-flex justify-content-center" >
                <div class="d-flex justify-content-center pb-2"" >
                    <div>
                        <a href="{% url 'wyniki_edycja' pk=pk %}" class="btn btn-success btn-lg active" role="button" aria-pressed="true">Konkurencje statyczne</a>
                    </div>
                </div>
            </div>
{% for wynikiencja in wyniki %}
			<div class="d-flex justify-content-center" >
				<div>
					{% for i in zawody_nazwa %}
						{% if forloop.counter == forloop.parentloop.counter %}
						<h3>{{ i }}</h3>
						{% endif %}
					{% endfor %}

				</div>
			</div>
			<div class="row justify-content-center">
				<div class="col-auto">
				    <div class="table-responsive">
    					<table class="table table-hover table-responsive table-bordered mx-auto w-auto align-middle md:text-center table-condensed table-striped">
    						<thead class="table-secondary">
    							<tr>
    								<td class="m"><b>Zawodnik</b></td>
    								<td class="m"><b>Czas</b></td>
    								<td class="m"><b>Miss</b></td>
    								<td class="m"><b>Procedura</b></td>
    								<td class="m"><b>NoShoot</b></td>
                                    <td class="m"><b>Amunicja klubowa</b></td>
                                    <td class="m"><b>Broń klubowa</b></td>
    								<!-- <td class="m"><b>Suma</b></td> -->
                                    <td class="m"><b>Wynik</b></td>
                                    <!-- <td class="m"><b>Kara</b></td> -->
    								<td class="m"><b>Edycja</b></td>
    							</tr>
    						</thead>
    						{% for osoba in wynikiencja %}
    						<tr>
    							<td class="m">{{osoba.zawodnik}}</td>
    							<td class="m" data-id="{{ osoba.id }}" data-type="X">{{osoba.czas}}</td>
    							<td class="m" data-id="{{ osoba.id }}" data-type="Xx">{{osoba.miss_value}}</td>
    							<td class="m" data-id="{{ osoba.id }}" data-type="dziewiec">{{osoba.procedura_value}}</td>
    							<td class="m" data-id="{{ osoba.id }}" data-type="osiem">{{osoba.noshoot_value}}</td>
                                <td class="mu">
                                    <label class="inline-flex items-center">
                                        <input type="checkbox" {% if osoba.amunicja_klubowa == 1 %} checked="checked" {% endif %} onclick="return false">
                                    </label>
                                </td>
                                <td class="mu">
                                    <label class="inline-flex items-center">
                                        <input type="checkbox" {% if osoba.bron_klubowa == 1 %} checked="checked" {% endif %} onclick="return false">
                                    </label>
                                </td>
    							<!-- <td class="m" data-id="{{ osoba.id }}" data-type="wynik">{{osoba.wynik}}</td> -->
                                <td class="m" data-id="{{ osoba.id }}" data-type="wynik">{{osoba.result}}</td>
                                <!-- <td class="m" data-id="{{ osoba.id }}" data-type="wynik">{{osoba.kara}}</td> -->
                                {% if request.user.rts or not osoba.edited_by_sedzia %}
    							<td class="m p-0 m-0">
    								<a href="{% url 'wyniki_dynamic_edit' osoba.id pk%}" class="btn btn-secondary btn-sm active" role="button" aria-pressed="true">
    									<p class="m m-0 p-0">Edytuj</p>
    								</a>
    							</td>
    							{% else %}
    							<td class="m p-0 m-0">
    								<p class="m m-0 p-0">Wynik edytowany</p>
    							</td>
    							{% endif %}
    						</tr>
    						{% endfor %}
    					</table>
    				</div>
				</div>
			</div>


	</div>
{% endfor %}





{% endblock %}


